# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/

# Environment
.env
.env*.local

# Firebase / secrets
google-services.json
GoogleService-Info.plist
*.p8
*.p12
*.mobileprovision

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# EAS
.eas/

# TypeScript
*.tsbuildinfo
